@tailwind base;
@tailwind components;
@tailwind utilities;

.font-brand {
  font-family: "Raleway", sans-serif;
}

.font-logo {
  font-family: "Great Vibes", sans-serif;
}

html {
  scroll-behavior: smooth;
}

* {
  @apply transition font-brand;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  @apply bg-brand-primary font-brand;
}

/* ---------------------------------------- */
/* Navbar */
/* ---------------------------------------- */

.navbar {
  @apply w-full border-b flex justify-between items-center px-4 md:px-8 py-2 md:py-5 bg-slate-50/25 bg-opacity-25 backdrop-blur-sm fixed z-[2];
}
.navbar-logo {
  @apply relative h-16 w-16 xl:h-44 xl:w-44;
}
.navbar-link {
  @apply px-5 py-2.5 text-brand-gray hover:text-brand-secondary uppercase text-sm md:text-lg xl:text-3xl ease-in-out duration-300;
}

.animate-movefreely {
  animation: movefreely 3s infinite;
}

@keyframes movefreely {
  0%,
  100% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0px);
  }
}

.after-line::after {
  @apply content-[''] absolute ml-2 bottom-1 w-20 h-1 bg-gradient-to-r from-pink-700 to-purple-700;
}

.brand-btn {
  @apply border border-gray-400 hover:border-white py-2 px-3 hover:text-black hover:bg-white;
}
